@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BookDataViewModel
@inject UserManager<ApplicationUser> UserManager;
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h2>Add Author</h2>
    <form asp-controller="Admin" asp-action="AddAuthor">
        <label>Author:</label>
        <input type="text" name="name" />
        <input type="submit" value="Add" />
    </form>

    <h2>Edit Authors</h2>
    <form asp-controller="Admin" asp-action="EditAuthor">
        <select name="id">
            @foreach (var p in Model.Authors)
            {
                <option value=@p.Id>@p.Id : @p.FullName</option>
            }
        </select>
        <label>Name:</label>
        <input type="text" name="name" />

        <input type="submit" value="Edit" />

    </form>
    <h2>Delete Authors</h2>
    <form asp-controller="Admin" asp-action="DeleteAuthor">
        <select name="id">
            @foreach (var p in Model.Authors)
            {
                <option value=@p.Id>@p.Id : @p.FullName</option>
            }
        </select>

        <input type="submit" value="Delete" />
    </form>
    @if (ViewBag.ErrorMess != null)
    {
        <p>@ViewBag.ErrorMess</p>

    }
    <p><a asp-controller="Admin" asp-action="Index">Return</a> </p>
}
else
{
    <h2>Access Denied</h2>
}