<div class="card m-auto border-0 rounded-0" style="width: 150px;">
    <img class="card-img-top rounded-0" src="~/img/Barn/Björn.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-center">Jag älskar dig till månen och tillbaka</h5>
        <p class="card-text  text-center mb-3">Bok med björnar eller nått 🐻</p>
        <div class="text-center">
            <h3 class="text-danger">99 kr</h3>
            <a href="#" class="btn bg-secondary m-auto text-white rounded-0">
                <svg class="buy-button-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
            Köp</a>
        </div>
    </div>
</div>

@*<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="img-thumbnail">
        <img class="img-thumbnail" src="~/img/Barn/Björn.jpg" />
        <div class="caption">
            <h3 class="pull-right"></h3>
            <h3>
            </h3>
            <p>Bra bok köp as bra</p>
        </div>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary"
                   asp-controller="ShoppingCart"
                   asp-action="AddToCart"
                   asp-route-Id="">Add to cart</a>
            </p>
        </div>
    </div>
</div>*@

@*
    @model Book
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@Model.ImageUrl">
            <div class="caption">
                <h3 class="pull-right">@Model.UnitPrice.ToString("c")</h3>
                <h3>
                    <a asp-controller="Book"
                       asp-action="Details"
                       asp-route-id="@Model.Id">@Model.Title</a>
                </h3>
                <p>@Model.Description</p>
            </div>
            <div class="addToCart">
                <p class="button">
                    <a class="btn btn-primary"
                       asp-controller="ShoppingCart"
                       asp-action="AddToCart"
                       asp-route-Id="@Model.Id">Add to cart</a>
                </p>
            </div>
        </div>
    </div>*@
