@{
    ViewData["Title"] = "Home Page";

}

<div class="content">

    <div>
        <h2 class="m-3 text-secondary">Populärt</h2>
        <div class="row mb-2">
            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

        </div>
    </div>

    <div>
        <h2 class="m-3 text-secondary">Nyheter</h2>
        <div class="row mb-2">
            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

        </div>
    </div>


    <div>
        <h2 class="m-3 text-secondary">Barnböcker</h2>
        <div class="row mb-2">
            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

            <div class="col col-2">
                @Html.Partial("~/Views/Shared/_BookCard.cshtml")
            </div>

        </div>
    </div>


</div>